:root{
    --vermelho: #e50914;
    --preta: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------- main elements --------  */

body{
    background: var(--preta);
    font-family: Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container{
    margin-left: 30px;
}

.movie-main .container p{
    width: 55%;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial black', Times;
    font-size: 40px;
    margin-left: 35px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 15px;
    transition: .3s ease all;
}

header nav a:hover{
    color: #fff;
}

/* ---------- main ---------- */

.destaque{
	background-image:url('./img/suits1.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 600px;
	position: relative;
	z-index: 1;
	overflow-y: hidden;
	overflow-x: hidden;
}

#video-destaque{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	filter: brightness(50%);
	left: 0;
	top: 0;
	z-index: 1;
}

.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top:200px;
	margin-left: 4%;
}

.texto-destaque h2{
	color: white;
	font-size: 60px;
	text-transform: uppercase;
}

.texto-destaque h3{
	margin:20px 0;
	font-size: 30px;
	text-shadow: black;
}

.texto-destaque p{
	font-size: 19px;
	width: 550px;
}

.texto-destaque a{
	background-color: rgba(100,100,100,0.3);
	color: white;
	text-decoration: none;
	padding: 8px 30px;
	font-size: 18px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
}

.texto-destaque a:hover{
	background: white;
	color: black;
}

/* ------ Owl Carousel ------ */
.box-movie{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movie{
    margin-top: 10px;
    margin-bottom: 5px;
}

/* -------- div.tv --------   */

.tv{
    display: flex;
}

.tv .tv-text{
    width: 550px;
    padding: 10px 10px;
    margin: 150px 50px;

}

.tv .tv-text h3{
    font-size: 40px;
    text-align: left;
}

.tv .tv-text p{
    font-size: 25px;
    text-align: left;
}

.tv .tv-video img{
    width: 70%;
    height: 70%;
    margin: 10% 10%;
}

/* ---------- div show -------  */
.show{
    width: 10%;
    position: absolute;
    z-index: -1;
    top: 1270px;
    left: 775px;
}


/* ---------- div.mobile ----- */

.mobile{
    display: flex;
}

.mobile-device img{
    width: 80%;
    height: 80%;
}

/* ----- div.mobile / card em cima do celular ----  */

.mobile .story-card{
    border: 2px solid #3f3f3f;
    background: var(--preta);
    width: 370px;
    height: 80px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    z-index: 1;
    top: 1900px;
    left: 100px;
}

.mobile .story-card img{
    width: 50%;
    margin-left: 10px;
    padding: 5px 0;
}

.story-card .texto{
    margin-top: 15px;
    width: 90%;
}

.txt1{
    font-size: 15px;
}

.txt2{
    font-size: 15px;
    color: blue;
}

.mobile .story-card .download{
    padding: 15px 0;
}

/* ----- área mobile texto -----  */

.mobile .mobile-text{
    width: 450px;
    margin: 150px 50px;

}

.mobile .mobile-text h3{
    font-size: 40px;
    text-align: left;
}

.mobile .mobile-text p{
    font-size: 25px;
    text-align: left;
}

/*  ------ área assista quando...  */

.assista{
    display: flex;
}

.assista-text{
    width: 450px;
    margin: 150px 50px;
}

.assista-text h3{
    font-size: 40px;
    text-align: left;
}

.assista-text p{
    font-size: 25px;
    text-align: left;
}

.assista-tv img{
    width: 80%;
    height: 80%;
    margin: 10% 10%;
}

.show2{
    width: 10%;
    position: absolute;
    z-index: -1;
    top: 2230px;
    left: 700px;
}

/* --------- div childrens ---------   */

.childrens{
    display: flex;
}

.childrens-img img{
    width: 80%;
    height: 80%;
    margin: 10% 10%;
}

.childrens-text{
    width: 470px;
    margin: 150px 50px;
}

.childrens-text h3{
    font-size: 40px;
    text-align: left;
}

.childrens-text p{
    font-size: 23px;
    text-align: left;
}

/* ------- Perguntas Frequentes -------  */

.faqs{
    max-width: 140vh;
    height: auto;
    position: relative;
}

.faqs h3{
    top: 5%;
    left: 50%;
    font-size: 40px;
    padding: 20px 0;
    transform: translate(50%, 5%)
}

.accordion {
    background-color: #303030;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 1px solid black;
    outline: none;
    transition: 0.4s;
    transform: translate(20%)
}

.active, .accordion:hover {
    background-color: #303030;
    transform: translate(20%)
}

.panel {
    padding: 0 18px;
    background-color: #303030;
    display: none;
    overflow: hidden;
    transform: translate(20%)
}

.panel p{
    width: 100%;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
    transform: translate(1%)
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.lead-email{
    padding: 30px 30px;
    width: 100%;
    height: 100%;
    transform: translate(30%)
}

.lead-email p{
    font-size: 20px;
    padding-bottom: 20px;
}

.lead-email .input{
    width: 60%;
    height: 30%
}

.input[type=text] {
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}


.lead-email button{
    color: white;
    background-color: var(--vermelho);
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 51px;
    transform: translate(-3%)
}

.lead-email button:hover{
    background-color: #b40a12;
    transition: 0.4s;
}



/* ------- footer ----------- */ 
#footer {
    background: var(--preta);
    color: white;
    padding: 80px 0;
}

#footer .logo{
    width: 10%;
    height: 20%;
}

#footer .footer-content {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .footer-menu {
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    transition: all 300ms ease;
    font-size: 13px;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: var(--vermelho);
    cursor: pointer;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.9rem;
}

/* -------- footer socials ---------- */
.socials {
    display: flex;
}


.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
    color: white;
}

.socials i:hover {
    color: var(--vermelho);
    cursor: pointer;
}

.hr{
    height: 10px;
    border: none;
    background-color: #141414;
    margin: 10px 0;
}

/* --------- footer info ----------- */

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.8rem;
    padding-top: 50px;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: var(--vermelho);
    cursor: pointer;
    transition: all 300ms ease;
}


.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country p:hover {
    color: var(--vermelho);
    cursor: pointer;
    transition: all 300ms ease;
}

.footer-info .rights .brazil-flag {
    height: 20px;
    width: auto;
    margin-left: 10px;
}

